.selected-label-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-weight: 300;
  .selected-label-item {
      padding: 5px;
      color: var(--gray-primary);
      width: fit-content;
      border: 1px solid var(--gray-secondary-two);
      font-size: 13px;
  }
}
