<app-page-header [title]="'Messages'"></app-page-header>
<!-- <div class="input-search">
  <app-search-input (changeEvent)="searchMessages($event)"></app-search-input>
</div> -->
<app-skeleton *ngIf="isloaded"></app-skeleton>
<app-empty-state [emptyLabel]="'No messages Found'" *ngIf="!isloaded && messages.length <= 0"></app-empty-state>
<div *ngIf="!isloaded && messages.length > 0" class="table-container">
  <table
    mat-table
    [dataSource]="messages"
    matSort
    class="mat-elevation-z8"
  >
    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>Message</th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="getMessagePreview(element.messageText)"
        class="trimmed"
      >
        {{ element.messageText }}
      </td>
    </ng-container>

    <!-- Form Column -->
    <ng-container matColumnDef="from">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by from "
      >
        From
      </th>
      <td mat-cell *matCellDef="let element">{{ element.sender }}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>date</th>
      <td mat-cell *matCellDef="let element">{{ element.createdDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
      <td
        [ngClass]="element.isreaded ? 'status active' : 'status'"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.status }}
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="row-actions">
          <img (click)="deleteMessage(element.id)" [src]="deleteIcon" alt="" />
          <app-btn *ngIf="!element.isreaded"
            [btnText]="'Mark as read'"
            [btnClass]="'row-button'"
            (clickEvent)="markMessageAsRead(element.id)"
          ></app-btn>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div *ngIf="messagePreview" class="preview-message">
  {{ messagePreview }}
</div>
