<app-page-header [title]="'Layout'"></app-page-header>
<app-btn [btnText]="'Add New Block'"  (clickEvent)="goToAddNewBlock()" ></app-btn>
<div class="table-container" >
  <div *ngFor="let item of Blocks" class="not-details-item">
    <div>
      <div>Block page Count</div>
      <div>{{ item.pageCount }}</div>
    </div>
    <div>
      <div (click)="goToItem(item.id)">Content selection</div>
      <div>{{ item.contentSelection }}</div>
      <div>
        <div *ngFor="let item of postsBlocks" class="not-details-item">
          <div class="txt">
            {{item.postTitle}}
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>Sorted By</div>
      <div>{{ item.sortingBy }}</div>
    </div>
    <div>
      <div>Sorting</div>
      <div>{{ item.sorting }}</div>
    </div>
   
  </div>
  
    
  </div>

  