.block-details-items{
  display: flex;
  .block-details-item{
    width: 100%;
    .title{
      color: var(--blue-primary);
      border: 1px solid var(--gray-secondary-one);
      border-right: unset;
      padding: 0 10px;
      font-size: 14px;
      height: 48px;
      padding: 10px;
      &:last-child{
        border-right: 1px solid var(--gray-secondary-one);
      }
    }
    .subtitle{
      border: 1px solid var(--gray-secondary-one);
      border-right: unset;
      border-top: unset;
      height: 48px;
      padding: 10px;
      font-size: 13px;
      cursor: pointer;
      img{
        height: 32px;
        border-radius: 4px;
        width: 32px;
        margin-right: 16px;
      }
    }
    &:last-child{
      .title{
        border-right: 1px solid var(--gray-secondary-one);
      }
      .subtitle{
        border-right: 1px solid var(--gray-secondary-one);
      }
    }
  }
  .blockdata{
    display: flex;
   
    img{
      height: 32px;
      border-radius: 4px;
      width: 32px;
      margin-right: 16px;
    }
  }
}
.table-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 1000px;
  overflow-x: scroll;
}
.txt{
  display: flex;
}

.blockdata{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-secondary-one);
  padding: 8px;
  .not-details-item{
    margin-top: 20px;
    cursor: pointer;
    &:hover{
      color: var(--blue-primary);
    }
  }
  img{
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 4px;
  }
}
