<app-page-header [title]="'Layout'"></app-page-header>
<app-btn [btnText]="'Add New Block'"  (clickEvent)="goToAddNewBlock()" ></app-btn>
<div class="table-container">
    <table mat-table [dataSource]="Blocks" matSort class="mat-elevation-z8">
      <!-- Block page Count Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Block page Count</th>
        <td mat-cell *matCellDef="let element">{{ element.pageCount }}</td>
      </ng-container>
    
      <!-- content selection meth -->
      <ng-container matColumnDef="author">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
        content selection
        </th>
        <td mat-cell *matCellDef="let element">{{ element.contentSelection }}</td>
      </ng-container>
    
      <!-- content Column -->
      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef>Sorted By</th>
        <td mat-cell *matCellDef="let element">{{ element.sorting }}</td>
      </ng-container>
    
      <!-- sorted Column -->
      <ng-container matColumnDef="sorted">
        <th mat-header-cell *matHeaderCellDef>Sorted</th>
        <td mat-cell *matCellDef="let element">{{ element.sortingBy }}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>