<div class="dialog-multiple-value-title">
    {{daialogTitle}}
</div>
<div class="input-search multiple">
  <app-search-input (changeEvent)="searchItem($event)"></app-search-input>
</div>
<app-empty-state [emptyLabel]="'no results found'" *ngIf="emptyItems">
</app-empty-state>
<div class="multiple-value">
  <div class="multiple-value-item" *ngFor="let item of items">
    <label>{{ item.name }}</label>
    <input
      (change)="addValue($event, item.name)"
      [checked]="item.ischecked"
      type="checkbox"
      [value]="item.name"
    />
  </div>
</div>
<div class="dialog-button-container">
  <app-btn [btnText]="'Done'" [btnClass]="'margin-right-auto'" (clickEvent)="closeDialog()"></app-btn>
</div>
